@model Vidly.ViewModels.PhoneViewModel
@{
    ViewBag.Title = "BePro Market - List of Phones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Phones</h2>
@if (User.IsInRole(Vidly.Models.RoleName.CanManageMovies))
{
<p>
    @Html.ActionLink("Create New", "Create", "Phones", new { @class = "btn btn-primary" })
    <button class="btn btn-danger" disabled="true" id="delete-button">Delete Chosen</button>
</p>
}

<!--
    
    Filtering the phone by the price range 
    Reference for the following code snippet
    https://www.datatables.net/examples/plug-ins/range_filtering.html


-->
<h4>Filters</h4>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Min Price</th>
            <th scope="col">Max Price</th>
            <th scope="col">Manufacturer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" id="min" name="min"></td>

            <td><input type="text" id="max" name="max"></td>

            <td> 
                @Html.DropDownListFor(c => c.Phone.ManufacturerId, new SelectList(Model.Manufacturers, "Id", "Name"), "Select Manufacturer", new { @class = "form-control", @id= "manufacturerDropdown" })
            </td>
        </tr>
    </tbody>

</table>
<table class="table table-hover" id="phones">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
                Price
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                RAM (GB)
            </th>
            <th>
                HDD (GB)
            </th>
            <th>
                Dimension
            </th>
            <th>
                Id
            </th>
            <th>
                Manufacturer Id
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>


@section    scripts{
    <script>
        //custom filtering for manufacturer
        /*
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var manufacturer = $('#manufacturerDropdown').val();
                var tmanufacturer = data[2]; // use data for the manufacturer column
                var isSameManuf = manufacturer.valueOf() == tmanufacturer.valueOf();
                console.log(manufacturer);
                console.log(tmanufacturer);
                console.log(isSameManuf);
                if (isSameManuf == true) {
                    return true;
                }
                return false;
            }
        );
        */
        /* Custom filtering function which will search data in column four between two values */
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#min').val(), 10);
                var max = parseInt($('#max').val(), 10);
                var price = parseFloat(data[1]) || 0; // use data for the price column

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && price <= max) ||
                    (min <= price && isNaN(max)) ||
                    (min <= price && price <= max)) {
                    return true;
                }
                return false;
            }
        );

        $(document).ready(function () {
            var table = $("#phones").DataTable(
                {
                    ajax: {
                        url: "/api/phones",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "model.name"
                        },
                        {
                            data: "price"
                        },
                        {
                            data: "manufacturer.name"
                        },
                        {
                            data: "ramInGb"
                        },
                        {
                            data: "hddInGb"
                        },
                        {
                            data: "dimensionInInch"
                        },
                        {
                            data: "id",
                            visible: false
                        },
                        {
                            data: "manufacturerId",
                            visible: false
                        }
                    ]
                })
            // Event listener to the two range filtering inputs to redraw on input
            $('#min, #max').keyup(function () {
                table.draw();
            });

            //event listener to dropdown value change
            $('#manufacturerDropdown').on('change', function () {
                console.log(this.value);
                table.columns(7).search(this.value).draw();
            });

            $('#phones tbody').on('click', 'tr', function () {

                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    //the id attribute to null
                    $('#delete-button').attr('data-phone-id', -1);
                    //disable button
                    $('#delete-button').prop('disabled', true);
                }
                else {
                    //remove selected class from other rows
                    table.$('tr.selected').removeClass('selected');
                    //add this class to current row
                    $(this).addClass('selected');

                    // var idx = table.cell('.selected', 0).index();
                    var idx = table.cell('.selected', 0).index();
                    var data = table.row(idx.row).data();
                    var id = data.id;
                    $('#delete-button').attr('data-phone-id', id);
                    //enable button
                    $('#delete-button').prop('disabled', false);
                }
            });

            $("#delete-button").click(function () {
                var button = $(this);
                //remove row from the UI
                table.row('.selected').remove().draw(false);
                //remove row from the backend
                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {

                        $.ajax({
                            url: "/api/phones/" + button.attr("data-phone-id"),
                            method: "DELETE"
                        });
                        button.attr('disabled', true);
                    }
                });
            });

        });
    </script> 
}
